@{
    ViewBag.Title = "Home Page";
}

<!-- ======= Header ======= -->
<header id="header" class="header-tops">
    <div class="container">

        <h1><a href="@Url.Action("Index", "Home")">Edward Barrier III</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>A passionate <span>junior developer</span> from Kansas City</h2>

        <nav class="nav-menu d-none d-lg-block">
            <ul class="links">
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#resume">Resum&eacute;</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- .nav-menu -->

        <div class="social-links">
            <!--<a href="https://twitter.com/codewithed" class="twitter" target="_blank"><i class="icofont-twitter"></i></a>-->
            <a href="https://linkedin.com/in/EdwardBarrierIII" class="linkedin" target="_blank"><i class="icofont-linkedin"></i></a>
        </div>

    </div>
</header><!-- End Header -->
<!-- ======= About Section ======= -->
<section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

        <div class="section-title">
            <h2>About</h2>
            <p>Learn more about me</p>
        </div>

        <div class="row">
            <div class="" data-aos="fade-right">
                <!--<img src="assets/img/me.jpg" class="img-fluid" alt="">-->
            </div>
            <div class=" pt-4 pt-lg-0 content" data-aos="fade-left">
                <h3>Full-Stack Web Developer</h3>
                <p class="font-italic">
                    Passionate, solution-driven junior developer with experience from front-end to back-end web development. Seeking oppurtunity where I can improve my skill-set and improve as a developer, as well as provide my knowledge to reach client goals.
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>HTML</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>CSS</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>C#</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>JavaScript</strong></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>MVC</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>SQL</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>Bootstrap</strong></li>
                            <li><i class="icofont-rounded-right"></i> <strong>Source Control</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- End About Me -->
    <!-- ======= Testimonials ======= -->
    <div class="testimonials container">

        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
            </div>

            <div class="testimonial-item">
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="~/Content/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
            </div>

        </div>

    </div><!-- End Testimonials  -->

</section><!-- End About Section -->
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>Resume</h2>
            <p class="resume-header">Edward Barrier III</p>
        </div>
        <div>
            <p class="align-center spec"><a href="mailto: edbarrieriii@gmail.com">edbarrieriii@gmail.com</a> | (816) 520-3058 | <a href="http://edwardbarrier.com" target="_blank">EdwardBarrier.com </a> </p>
            <p class="align-center">LinkedIn: <a href="http://www.linkedin.com/in/EdwardBarrierIII" target="_blank">www.linkedin.com/in/EdwardBarrierIII</a></p>
        </div>
        <div>
            <h2 class="align-center">FULL STACK DEVELOPER</h2>
            <hr />
            <div class="resume-skills">
                <ul class="left">
                    <li>.NET Framework</li>
                    <li>Full Stack Web Application Design</li>
                    <li>C# Fundamentals</li>
                    <li>Database Management</li>
                </ul>
                <ul class="right">
                    <li>Unit Testing</li>
                    <li>Software Development Lifecycle</li>
                    <li>Agile Scrum Methodology</li>
                    <li>Continued Growth in IT Knowledge</li>
                </ul>
            </div>
            <hr />
            <div class="resume-tech">
                <h3 class="align-center">Technical and Professional Skills</h3>
                <br />
                <p><strong class="yella">Front End: </strong> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</p>
                <p><strong class="yella">Middle Tier: </strong>Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF</p>
                <p><strong class="yella">Back End: </strong>ADO.NET, SQL, SQL Server, SSMSE</p>
                <p><strong class="yella">Professional Skills: </strong>TroubleShooting, Critical Thinking, Communication, Project Management Fundamentals, Teamwork</p>

            </div>
            <hr />
            <div class="resume-dev">
                <h3 class="align-center">Independent Development Projects</h3>
                <ul class="resume-ul">
                    <li><strong class="yella">Personal Site: </strong>Created an application to display information about myself, examples of my work, testimonials, contact information, and my current resum&eacute;. I have also included a section for my team members because they have played a huge part in my education. For this application, I used Bootstrap, HTML5, CSS3, and JavaScript/jQuery.</li>
                    <li><strong class="yella">Dungeon Application: </strong>Created a simple game using C#. Including character selection and weapon selection, the player walks through the dungeons and battles monsters until he/she dies. The application the displays the players score and the game ends.</li>
                    <li><strong class="yella">Front-End Development Project: </strong>Created an application that follows a start-up companies project brief. This application is constructed using HTML5, CSS3, and JavaScript/jQuery.</li>
                    <li><strong class="yella">Rust Random Task Generator: </strong>Created an application to give me random tasks on my favorite game. The main purpose for this application was to dive deeper into JavaScript/jQuery functionality. This application is constructed using HTML5, CSS3, and JavaScript/jQuery.</li>
                    <li><strong class="yella">StoreFront: </strong>Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                    <li><strong class="yella">S.A.T. Scheduling Administration Tool: </strong>Created a secure application for managing product data. Application is built to simulate an online class scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
                    <li><strong class="yella">Final Project: </strong>Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage the employee, department data, and all details relating to assigned hardware and software.</li>
                </ul>
            </div>
            <hr />
            <div>
                <h3 class="align-center">Technical Training</h3>
                <div class="resume-training">
                    <p id="spec"><strong class="yella">Full-Stack Web Development Program</strong>, Centriq Training</p>
                    <p class="right">Anticipated Graduation 06/2021</p>
                    <p>Kansas City, Missouri</p>
                </div>
                <div class="resume-skills">
                    <ul class="left">
                        <li>MVC Framework</li>
                        <li>Trouble Shooting & Debugging</li>
                        <li>Source Control</li>
                        <li>Agile/Scrum (Created Team Project)</li>
                    </ul>
                    <ul class="right">
                        <li>Website Deployment</li>
                        <li>Pair Programming</li>
                        <li>Code Review</li>
                    </ul>
                </div>

            </div>
            <hr />
            <div>
                <h3 class="align-center">Work Experience</h3>
                <div class="resume-training">
                    <p id="spec"><strong class="yella">Package Handler</strong>, FedEx Ground</p>
                    <p class="right">12/2020-04/2021</p>
                    <p>Kansas City, Missouri</p>
                    <ul>
                        <li>Stored items in an orderly and accessible manner in three trucks at a time.</li>
                        <li>Developing constructive and cooperative working relationships with others, and maintaining them over time.</li>
                        <li>Managed and scanned 100% of the packages that I've dealth with, daily.</li>
                    </ul>
                    <br />
                    <p id="spec"><strong class="yella">Sales Advisor</strong>, Office Depot</p>
                    <p class="right">02/2019-12/2020</p>
                    <p>Independence, Missouri</p>
                    <ul>
                        <li>Recommend, select, and help locate or obtain merchandise based on customer needs and desires.</li>
                        <li>Designed flyers, posters, postcards, etc. for 20+ customers a week.</li>
                        <li>Knowledge of principles and methods for showing, promoting, and selling products or services. This includes marketing strategy and tactics, product demonstration, sales techniques, and sales control systems.</li>
                        <li>Giving full attention to what other people are saying, taking time to understand the points being made, asking questions as appropriate, and not interrupting at inappropriate times.</li>
                        <li>Developing constructive and cooperative working relationships with others, and maintaining them over time.</li>
                        <li>Took initiative to learn every position so I could flex where I was needed most. Salesmen for computers and printers, while being specialized in the print department. Lastly, running register when needed.</li>
                    </ul>
                    <br />
                    <p id="spec"><strong class="yella">Lube Technician</strong>, Adams Toyota</p>
                    <p class="right">09/2017-11/2018</p>
                    <p>Lee's Summit, Missouri</p>
                    <ul>
                        <li>Inspect vehicles for damage and record findings so that necessary repairs can be made.</li>
                        <li>Perform routine and scheduled maintenance services, such as oil changes, lubrications, and tune-ups.</li>
                        <li>Knowledge of machines and tools, including their designs, uses, repair, and maintenance.</li>
                        <li>Determining causes of operating errors and deciding what to do about it.</li>
                        <li>Analyzing information and evaluating results to choose the best solution and solve problems.</li>
                        <li>Took initiative to learn multiple positions to flex. Lube Technician most of the time, porting on a couple days when needed.</li>
                    </ul>
                    <br />
                    <p id="spec"><strong class="yella">Carpet Installer</strong>, Lowe's Home Improvement</p>
                    <p class="right">06/2017-08/2017</p>
                    <p>Kansas City, Missouri</p>
                    <ul>
                        <li>Take measurements and study floor sketches to calculate the area to be carpeted and the amount of material needed.</li>
                        <li>Cut and trim carpet to fit along wall edges, openings, and projections, finishing the edges with a wall trimmer.</li>
                        <li>Knowledge of the materials and tools involved in the installation.</li>
                        <li>Using logic and reasoning to identify the strengths and weaknesses of alternative solutions, conclusions or approaches to problems.</li>
                        <li>Analyzing information and evaluating results to choose the best solution and solve problems.</li>
                    </ul>
                    <br />
                    <p id="spec"><strong class="yella">Cook</strong>, Pizza Hut</p>
                    <p class="right">12/2016-06/2017</p>
                    <p>Independence, Missouri</p>
                    <ul>
                        <li>Read food order slips or receive verbal instructions as to food required by patron, and prepare and cook food according to instructions.</li>
                        <li>Clean, stock, and restock workstations and display cases.</li>
                        <li>Maintain sanitation, health, and safety standards in work areas.</li>
                        <li>Verify that prepared food meets requirements for quality and quantity.</li>
                        <li>Importance of being accurate.</li>
                        <li>Importance of working with a team.</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</section><!-- End Resume Section -->
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Projects</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">Front-End</li>
                    <li data-filter=".filter-card">Middle-Tier</li>
                    <li data-filter=".filter-web">Back-End</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Screenshot (8).png" class="img-fluid" alt="FED1 project">
                    <div class="portfolio-info">
                        <h4>Small Business Project</h4>
                        <p>A simple website for a small business using HTML, CSS, & JavaScript</p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/Screenshot (8).png" data-gall="portfolioGallery" class="venobox" title="View PNG"><i class="bx bx-plus"></i></a>
                            <a href="http://fed1.edwardbarrier.com/" target="_blank" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Go to site"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Screenshot (6).png" class="img-fluid" alt="Portfolio Project">
                    <div class="portfolio-info">
                        <h4>Portfolio Project</h4>
                        <p>My main website. Using HTML, CSS, JavaScript, and BootStrap</p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/Screenshot (6).png" data-gall="portfolioGallery" class="venobox" title="View PNG"><i class="bx bx-plus"></i></a>
                            <a href="http://edwardbarrier.com/" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Go to site"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="~/Content/img/Screenshot (4).png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Dungeon Application</h4>
                        <p>A simple game created with the fundamentals of C#</p>
                        <div class="portfolio-links">
                            <a href="~/Content/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->
            <!--<div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>-->

        </div>

    </div>
</section><!-- End Portfolio Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>

        <div class="row mt-2">

            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>edwardiiibarrier@gmail.com</p>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-share-alt"></i>
                    <h3>Social Profiles</h3>
                    <div class="social-links">
                        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
                        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                    <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>

    </div>
</section><!-- End Contact Section -->

<div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | Converted By <span id="convertTag">Edward Barrier III</span>
</div>